@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
main{
    max-width:1140px;
    margin:0 auto;

}
/* Banner styles */

.banner{
    height:673px;
    margin-top:75px;
    margin-bottom:75px;
    background-image: url(./assets/Hero-bg.png);
    
}
.banner-content{
    
    width:1000px;
    height:744px;
    margin:26px 221px 0px 221px;   
}
.banner-img{
    height:240px;
    width:240px;
    margin:0px 378px 0px 378px;
}
.banner-title{
    margin-top: 164px;
    color: rgb(13, 19, 33);
    font-size: 48px;
    font-weight: 800;
    text-align: center; 
}
.banner-description{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
}
.btn{
    width: 208px;
    height:66px;
    margin:54px 395px 0px 395px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    border-radius: 8px;
    background: rgb(13, 19, 33);
}
.btn a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
/* Section1 styles */
 .section1{
    height: 1250px;
    padding: 75px 87px 75px 87px;
    margin-bottom: 80px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
} 
.info{
    
    height: 115px;
    text-align: center;
    margin: 48px 0px;
}
.info-title{
     color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    text-align: center;
}
.info-description{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
}
.box{
    width: 946px;
    height: 1235px;
     border-radius: 16px;   
    
}
.box1{
    display:flex;
    justify-content: space-between;
    margin: 32px 0px;
    padding: 40px;
    background-color: white;
}
.box2{
    display:flex;
    justify-content: space-between;
    margin: 32px 0px;
    padding: 40px;
    background-color: white;
}
.box3{
    display:flex;
    justify-content: space-between;
    margin: 32px 0px;
    padding: 40px;
    background-color: white;
}

/* inspiration sector */
.inspiration{
   
    height: 700px;
    margin:0px auto;
    margin-bottom: 149px;
}
.inspiration-info{
    width: 852px;
    height: 115px;
    margin-left: 90px;
    text-align: center;
    padding:40px;
    margin-bottom: 48px;
    
}
.inspiration-info-title{
    color: rgb(13, 19, 33);
   font-size: 32px;
   font-weight: 800;
   line-height: 37px;
   text-align: center;
}
.inspiration-info-description{
    color: rgb(13, 19, 33);
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    

}
.video{
    height: 614px;
    
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
    padding:32px;
}
.video iframe{
    border-radius: 16px;
}


/* aim section */

.target{
    height: 550px;
    padding-top: 140px;
 
}
.target-title{
    margin-left: 221px;
    margin-right: 221px;
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
}
.target-description{
    color: rgb(13, 19, 33);
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
}
.skills-container{
    display:flex;
    gap:24px;
}
.skill-1{
    border-radius: 16px;
    padding:40px;
    background: rgba(255, 76, 30, 0.05);
}
.skill-2{
    border-radius: 16px;
    padding:40px;
    background: rgba(0, 76, 232, 0.05);
}
.skill-3{
    border-radius: 16px;
    padding:40px;
    background: rgba(255, 223, 0, 0.05);
}
/* feedback section */
.feedback{
    width: 1140px;
    height:313px;
    border-radius: 16px;
    background-image: url(./assets/handshake.jpg);
    background-size: 1140px 313px;
    background-repeat: no-repeat;
    margin-bottom: 100px;
    
    
}
.feedback-title{
    color: rgb(255, 255, 255);

    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: center;
}
.feedback-content{
    width: 1044px;
    height: 185px;
    padding: 54px 48px 54px 48px;
}
.feedback-description{
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    padding-bottom:20px;
}
.form{
    display:flex;
    align-items: center;
    gap:10px;
    justify-content: center;
}

input[type=submit]{
    padding:10px 20px;
}
.footer{
    height:50px;
    margin:0 auto;
    padding: 32px 150px 32px 150px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.03);
    
}
.footer-content{
    display:flex;
    justify-content: space-between;
    width: 1140px;
    height: 36px;
}
.logo{
    display:flex;
    gap:20px
}
